<div class="container">
    <div class="footer__row">
        <!-- Footer Column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo footer_logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <p class="footer__desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum est quo nisi ratione aut
            </p>

            <p class="footer__help-text">Receive product news and updates in your inbox.</p>
            <form action="" class="footer__form">
                <input type="text" name="" id="" class="footer__input" placeholder="Emaill address">
                <button class="btn btn--primary">Send</button>
            </form>
        </div>

        <!-- Footer Column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Shop</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">All Departments</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Fashion Deal</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Electronics Discounts</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Home & Living Specials</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Beauty Bargains</a>
                </li>
            </ul>
        </div>

        <!-- Footer Column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Support</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Store locator</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Order status</a>
                </li>
            </ul>
        </div>

        <!-- Footer Column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Company</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Customer Service</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Terms of Use</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Privacy</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Careers</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">About</a>
                </li>
            </ul>
        </div>

        <!-- Footer Column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Contact</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__label">Email</p>
                    <a href="mailto:contact@chienpro.vn" class="footer__link">contact@chienpro.vn</a>
                </li>
                <li>
                    <p class="footer__label">Hotline</p>
                    <a href="tel:0962222003" class="footer__link">0962222003</a>
                </li>
                <li>
                    <p class="footer__label">Address</p>
                    <p class="footer__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    </p>
                </li>
                <li>
                    <p class="footer__label">Hours</p>
                    <p class="footer__text">
                        M - F 08:00am - 05:00pm
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__bottom">
        <p class="footer__copyright">
            © 2014-2025 Grocery Mart. All rights reserved.
        </p>

        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon">
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon">
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon">
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon">
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon">
            </a>
        </div>
    </div>
</div>